html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
header {
  display: block;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
hr {
  border: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
a {
  color: #0070d2;
  text-decoration: none;
  transition: color 0.1s linear;
}
a:hover,
a:focus {
  color: #007eec;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active {
  color: #00396b;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
::selection {
  color: #16325c;
  background: #8be0e6;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-2,
.col-sm-4,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-2,
  .col-sm-4,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
}

.container:before,
.container:after,
.row:before,
.row:after {
  content: ' ';
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

@-ms-viewport {
  width: device-width;
}

h2,
h3,
h4 {
  color: #2b546a;
  font-weight: normal;
}
html {
  font: 100%/1.5 'Lato', 'Hiragino Maru Gothic Pro', 'Meiryo UI', Meiryo,
    'MS PGothic', sans-serif;
  color: #5876a3;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.7142857143;
}
html:lang(en),
html:lang(id) {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body {
  font-size: 0.875rem;
}
.landing {
  background-color: #f9fbfe;
}
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
}
.landing-container--text {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 991px) {
  br.tb--only {
    display: none;
  }
}
@media (max-width: 767px) {
  .landing-container {
    padding-top: 9.375%;
    padding-bottom: 9.375%;
  }
  .landing-container--text {
    padding-top: 12.5%;
    padding-bottom: 12.5%;
  }
  br.tb {
    display: none;
  }
}
@media (max-width: 544px) {
  .landing-container {
    display: block;
    padding: 14.933% 6%;
  }
  .landing-container--text {
    padding-top: 19.2%;
    padding-bottom: 19.2%;
  }
  br.tb--only {
    display: block;
  }
  br.sp {
    display: none;
  }
}
footer {
  background: #fff;
}

body {
  color: #8491a5;
  font-family: 'AvenirNext', 'Lato', 'Hirago KakuGothic ProN', Meiryo,
    sans-serif;
  font-size: 1rem;
}

h2,
h3,
h4,
p {
  line-height: 1.7142857143;
}

h2,
h3,
h4 {
  color: #2b546a;
}
.landing-body-text {
  font-size: 1rem;
  line-height: 2;
  margin-top: 16px;
}
.landing-heading {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .landing-body-text {
    font-size: 0.875rem;
    margin-top: 12px;
  }
  .landing-heading {
    font-size: 1.5rem;
  }
}
@media (max-width: 544px) {
  .landing-body-text {
    font-size: 0.75rem;
    margin-top: 8px;
  }
  .landing-heading {
    font-size: 18px;
  }
}

.landing-header__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  position: fixed;
  background-color: #f9fbfe;
  z-index: 2;
  top: 0;
}
.landing-header__logo {
  width: 112px;
}
.landing-header__small-logo {
  display: none;
}
.landing-header__right-container {
  display: flex;
  align-items: center;
}
.landing-header__button-border {
  opacity: 0.5;
  width: 1px;
  height: 40px;
  margin: 0 8px;
  background-color: #bac6d3;
}
.landing-header__link {
  font-size: 14px;
  color: #2b546a;
  line-height: 40px;
  padding: 0 16px;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.landing-header__link:hover {
  background: #f0f5fd;
  color: #2b546a;
}
.landing-header__square-button-locale {
  font-size: 14px;
  color: #2b546a;
  line-height: 40px;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  padding: 0 8px;
}
.landing-header__square-button-locale:hover {
  background: #f0f5fd;
}
.landing__header {
  margin: 0 2%;
}
.landing__header .landing__header__logo {
  width: 170px;
  float: left;
}
.landing__header .landing__header__sp-logo {
  width: 35px;
  float: left;
  margin-left: 3%;
}
@media (max-width: 544px) {
  .landing-header__main {
    padding: 12px 6%;
  }
  .landing-header__logo {
    display: none;
  }
  .landing-header__small-logo {
    display: inline-block;
    width: 20px;
    margin-bottom: 2px;
  }
  .landing-header__link {
    margin: 0 8px 0 0;
    padding: 0 8px;
  }
  .landing-header__square-button-login {
    font-size: 12px;
  }
  .landing-header__square-button-locale {
    font-size: 12px;
    padding: 0;
  }
  .landing-header__button-border {
    display: none;
  }
}
@media (max-width: 767px) {
  .landing-start__square-button-business {
    display: none;
  }
}

.footer {
  border-top: 1px solid #eee;
  clear: left;
  letter-spacing: 0.04em;
  font-family: 'AvenirNext', 'Lato', 'Hirago KakuGothic ProN', Meiryo,
    sans-serif;
}
.footer a {
  color: #6783a0;
}
.footer-main h4 {
  font-size: 1.0625rem;
}
.footer-main .col-sm-2 {
  padding: 0;
}
.footer__logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 144px;
  height: auto;
  padding-bottom: 48px;
  margin: 4px 0 0;
  background: url(https://d2aj9sy12tbpym.cloudfront.net/assets/landing/primary_logo-4d1810538e410b4c6af84210420099ca1772e8cb39013fad8532e499bcdb136e.svg)
    no-repeat;
  background-size: 100%;
}
.footer__logo h3 {
  height: 34px;
}
.footer__copyright {
  font-size: 0.625rem;
}

.footer__menus {
  padding-left: 0;
  font-size: 0.75rem;
}
.footer__menus:lang(en) {
  font-size: 0.875rem;
}
.footer__menus li {
  list-style: none;
  padding-top: 10px;
}
.footer__menus li a:hover {
  transition: all 0.4s ease;
  color: #44dcc0;
}
.footer__menus li:last-child {
  margin-bottom: 40px;
}
.footer__menus-sns li:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer > .container,
  .footer > .row .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .footer-main {
    text-align: center;
    margin-top: 15px;
  }
  .footer__logo {
    margin: 10px auto 0;
    width: 125px;
    padding-bottom: 24px;
  }
  .footer-main .row {
    margin-bottom: 0;
  }
  .footer__copyright {
    margin-top: 45px;
  }
  .footer__menus {
    padding-top: 5px;
  }
  .footer__menus-sns li:last-child {
    margin-bottom: 40px;
  }

  footer p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.landing-introduction__main {
  padding: 136px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-introduction__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}
.landing-introduction__counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 48px;
}
.landing-introduction__counter-container-inner-left {
  margin-right: 24px;
}
.landing-introduction__counter-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-introduction__counter-container-inner-icon {
  width: 20px;
  margin-right: 8px;
}
.landing-introduction__counter-container-inner-title {
  font-weight: bold;
  font-size: 13px;
}
.landing-introduction__counter-container-inner-count {
  font-weight: bold;
  font-size: 18px;
  color: #2b546a;
  letter-spacing: 0.03em;
}
.landing-introduction__counter-container-spacer {
  margin-right: 3px;
}
.landing-introduction__lottie-container {
  padding: 100px 4.16% 0;
  overflow: hidden;
  background: #88e7ce;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.landing-introduction__lottie-main {
  display: flex;
  position: relative;
  bottom: -1px;
  width: 100%;
  justify-content: center;
}
.landing-introduction__lottie-main svg {
  max-width: 1000px;
}
@media (max-width: 767px) {
  .landing-introduction__title {
    font-size: 2rem;
  }
  .landing-introduction__counter-container {
    margin: 16px 0 32px;
  }
  .landing-introduction__lottie-container {
    padding-top: 80px;
  }
}
@media (max-width: 544px) {
  .landing-introduction__main {
    padding: 100px 0 0;
  }
  .landing-introduction__title {
    font-size: 1.5rem;
  }
  .landing-introduction__counter-container {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .landing-introduction__counter-container-inner-icon {
    width: 14px;
    margin-right: 4px;
  }
  .landing-introduction__counter-container-inner-left {
    margin-right: 12px;
  }
  .landing-introduction__counter-container-inner-title {
    font-size: 11px;
  }
  .landing-introduction__counter-container-inner-count {
    font-size: 0.875rem;
  }
  .landing-introduction__lottie-container {
    display: block;
    padding: 56px 0 0 5%;
    margin-top: 40px;
  }
  .landing-introduction__lottie-main {
    width: 111%;
  }
}
.landing-lesson-intro__title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #2b546a;
  letter-spacing: 0.05em;
  max-width: 1000px;
}
.landing-lesson-intro__small-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing-lesson-intro__small-section-text {
  width: 100%;
}
.landing-lesson-intro__small-section-image > img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1000px;
  width: 100%;
  margin-top: 88px;
}
.landing-lesson-intro__small-section-image-first > img {
  margin-top: 72px;
}
.landing-lesson-intro__small-section-title {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .landing-lesson-intro__title {
    font-size: 2rem;
  }
  .landing-lesson-intro__small-section-image > img {
    margin-top: 56px;
  }
  .landing-lesson-intro__small-section-image-first > img {
    margin-top: 48px;
  }
  .landing-lesson-intro__small-section-title {
    margin-top: 24px;
  }
}
@media (max-width: 544px) {
  .landing-lesson-intro__main {
    padding-right: 0;
    padding-left: 0;
  }
  .landing-lesson-intro__title {
    text-align: left;
    font-size: 1.5rem;
  }
  .landing-lesson-intro__small-section {
    text-align: left;
  }
  .landing-lesson-intro__small-section-image-container {
    overflow: auto;
    padding-left: 6%;
  }
  .landing-lesson-intro__small-section-image > img {
    width: 150%;
    margin-top: 56px;
    margin-right: 6%;
  }
  .landing-lesson-intro__small-section-image-first > img {
    margin-top: 32px;
  }
  .landing-lesson-intro__small-section-title {
    width: 100%;
  }
  .right-spacer {
    padding-right: 6%;
    padding-left: 6%;
  }
}
.success-story__main {
  background-color: #2b546a;
  text-align: center;
  color: #fff;
}
.success-story__main-title {
  color: #fff;
}
.success-story__main-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 56px 0;
}
@media (max-width: 991px) {
  .success-story__main-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.16vw;
  }
}
@media (max-width: 544px) {
  .success-story__main-list {
    grid-template-columns: 1fr;
    grid-gap: 6vw;
    margin: 32px 0;
  }
}
.landing-success-story-card__main {
  background: #fff;
  border-radius: 10px;
  padding: 40px 24px;
  flex-direction: column;
  max-width: 312px;
  display: grid;
  text-align: center;
  font-weight: bold;
  height: 100%;
  transition: 0.3s;
}
.landing-success-story-card__main:hover {
  transform: scale(1.01) translate3d(0, -2px, 0);
}
.landing-success-story-card__icon-container {
  display: flex;
  justify-content: center;
}
.landing-success-story-card__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.landing-success-story-card__summary {
  line-height: 160%;
  color: #2b546a;
  margin-top: 40px;
}
.landing-success-story-card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.landing-success-story-card__user-name {
  color: #bac6d3;
  margin-top: 32px;
  letter-spacing: 0.02em;
}
.landing-success-story-card__country-name {
  font-size: 12px;
  color: #bac6d3;
  margin-top: 2px;
  letter-spacing: 0.02em;
}
@media (max-width: 991px) {
  .landing-success-story-card__main {
    max-width: initial;
  }
}
@media (max-width: 544px) {
  .landing-success-story-card__link:nth-of-type(n + 4) {
    display: none;
  }
  .landing-success-story-card__main {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    padding: 24px 16px;
  }
  .landing-success-story-card__icon-container {
    grid-column: 1;
    margin-top: 18px;
    width: fit-content;
  }
  .landing-success-story-card__icon {
    width: 50px;
    height: 50px;
  }
  .landing-success-story-card__summary {
    margin-top: 0;
    grid-column: 1/3;
    grid-row: 1;
    font-size: 0.875rem;
    line-height: 170%;
    text-align: left;
  }
  .landing-success-story-card__info {
    justify-content: center;
    align-items: flex-start;
    margin: 23px 0 0 12px;
    grid-column: 2;
  }
  .landing-success-story-card__user-name {
    grid-column: 2/3;
    grid-row: 2;
    font-size: 0.875rem;
    margin-top: 0;
  }
  .landing-success-story-card__country-name {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 11px;
    margin-top: 0;
  }
}
.landing-plan__container {
  max-width: 1000px;
  width: 100%;
}
.landing-plan__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 32px;
}
.landing-plan__lesson-info {
  background-color: #f0f4f9;
  grid-column: 1/3;
  display: grid;
  border-radius: 10px;
  padding: 0 40px;
  text-align: center;
}

.landing-plan__lesson-info__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
}
.landing-plan__plan-info {
  background-color: #f0f4f9;
  padding: 80px 16px 64px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.landing-plan__plan-info:last-child {
  background-color: #f7edad;
}
.landing-plan__plan-info__lesson-detail {
  font-weight: bold;
  color: #2b546a;
  margin-top: 40px;
}
.landing-plan__plan-info__price {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #2b546a;
  margin-top: 8px;
  line-height: 1;
}
.landing-plan__plan-info__price-text {
  font-size: 18px;
  padding: 0 4px;
}
.landing-plan__plan-info__price-mark {
  font-size: 32px;
  padding-right: 4px;
}
.landing-plan__link-icon {
  padding-left: 4px;
}
@media (max-width: 991px) {
  .landing-plan__lesson-info {
    grid-gap: 4.54vw;
  }
  .landing-plan__inner {
    grid-gap: 4.54vw;
  }
}
@media (max-width: 767px) {
  .landing-plan__inner {
    margin-bottom: 24px;
  }
  .landing-plan__lesson-info {
    padding: 0 24px;
  }
  .landing-plan__plan-info {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 544px) {
  .landing-plan__inner {
    grid-template-columns: 1fr;
    grid-gap: 6vw;
    margin-bottom: 16px;
  }
  .landing-plan__lesson-info {
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-column: 1;
    padding-top: 48px;
    text-align: center;
  }
  .landing-plan__lesson-info__lottie-container {
    order: 2;
  }
  .landing-plan__lesson-info__lottie {
    margin-top: 40px;
  }
  .landing-plan__lesson-info__title-container {
    padding: 0;
  }
  .landing-plan__plan-info {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .landing-plan__plan-info__price {
    font-size: 32px;
  }
  .landing-plan__plan-info__price-text {
    font-size: 12px;
  }
  .landing-plan__plan-info__price-mark {
    font-size: 24px;
  }
}
.landing-message__main {
  background: #fff;
}
.landing-message__main-text {
  margin-top: 24px;
}
.landing-message__text-container {
  text-align: center;
}
@media (max-width: 544px) {
  .landing-message__text-container {
    text-align: left;
    padding: 0 8px;
  }
}

@media (max-width: 767px) {
  .landing-start__main-text {
    margin-bottom: 32px;
  }
}
@media (max-width: 544px) {
  .landing-start__main-text {
    margin-bottom: 24px;
  }
}
.landing-sns__main {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  background: #fff;
}
.landing-sns__main .landing-sns__icon {
  width: 24px;
  margin-left: 40px;
  transition: 0.3s;
}
.landing-sns__main .landing-sns__icon:hover {
  opacity: 0.8;
}
.landing-sns__main .landing-sns__icon:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .landing-sns__main {
    padding: 32px 0;
  }
  .landing-sns__main .landing-sns__icon {
    width: 24px;
    margin-left: 40px;
  }
}
@media (max-width: 544px) {
  .landing-sns__main {
    padding: 32px 0;
  }
  .landing-sns__main .landing-sns__icon {
    width: 20px;
    margin-left: 32px;
  }
}

html[lang='en'] .hidden-en {
  display: none !important;
}
html[lang='ja'] .hidden-ja {
  display: none !important;
}
html[lang='id'] .hidden-id {
  display: none !important;
}

.u-pb50 {
  padding-bottom: 50px;
}

.u-pt50 {
  padding-top: 50px;
}

.sign-up {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 200, 214);
  font-size: 0.75rem;
  min-width: 110px;
  line-height: 40px;
  font-family: AvenirNext, Lato, 'Hirago KakuGothic ProN', Meiryo, sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 0px 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 5px;
}

.bGIcqx {
  display: inline-block;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 200, 214);
  min-width: 200px;
  line-height: 48px;
  font-family: AvenirNext, Lato, 'Hirago KakuGothic ProN', Meiryo, sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 0px 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 5px;
}

.success-story__link {
  display: inline-block;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(240, 244, 249);
  min-width: 200px;
  line-height: 48px;
  font-family: AvenirNext, Lato, 'Hirago KakuGothic ProN', Meiryo, sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  padding: 0px 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 5px;
}

.success-story__link:hover {
  color: #16325c;
  background: #8be0e6;
}
